#main-header {
  background-image: url(images/redCoding.jpg);
  opacity: 6%;
}

.social-btn {
  padding-top: 6px;
  padding-right: 30%;
}

.phoneNumber {
  font-size: 36px;
}

.pics {
  height: 30%;
  width: 30%;
  align-items: center;
}

.square:hover {
  background-color: red;
}

#hi:hover {
  background-color: aqua;
}

@media (max-width: 760px) {
  #main-header > div.welcome-box > strong > p > span {
    font-size: 20px;
  }
  .social-nav {
    top: 65%;
  }

  h1 {
    font-size: 150%;
  }
}

@media (max-width: 760px) {
  .showcase-item {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 500px) {
  .showcase-item {
    height: 300px;
    width: 300px;
  }
  .button {
    font-size: 80%;
  }
}

@media (max-width: 350px) {
  .showcase-item {
    height: 300px;
    width: 300px;
  }
  .button {
    font-size: 80%;
  }
  .social-nav {
    margin-top: 25px;
  }
}

@media (max-width: 300px) {
  .social-nav {
    top: 75px;
  }
}
